html, body, #sidebar, #slack {
  padding: 0px;
  margin: 0px;
  border: 0px;
  height: 100%;
  min-height: 100%;
  position: relative;
  font-family: "Lucida Grande", Arial, Helvetica, Verdana;
  font-size: 90%;
}

#navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background: #111111;
  color: #ffffff;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .4);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .4);
}

#navbar .liner {
  padding: 20px;
}

#sidebar {
  width: 100px;
  position: absolute;
  top: 0;
  left: 0;
  background: #333333;
  color: #ffffff;
  text-align: center;
}

#sidebar .liner {
  padding: 80px 10px 10px 10px;
}

#slack {
  margin-left: 100px;
  white-space: nowrap;
}

.slacker {
  height: 100%;
  min-height: 100%;
  width: 475px;
  text-align: center;
  display: inline-block;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-box-shadow: -3px 0px 8px 0px rgba(0, 0, 0, .3);
  box-shadow: -3px 0px 8px 0px rgba(0, 0, 0, .3);
}

.slacker .liner {
  padding: 80px 30px 20px 30px;
  min-width: 440px;
}

#primary .liner {
  padding-right: 15px;
}

.match {
  float: left;
  width: 200px;
  height: 75px;
  line-height: 75px;
  text-align: center;
  background: #cccccc;
  margin: 0 15px 15px 0;
}

.activity, .comment {
  margin-bottom: 15px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #dddddd;
}

.comment {
  height: 25px;
  line-height: 25px;
  background: #bbbbbb;
}

.match, .activity, .comment {
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, .2);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, .2)
}

.clear:before,
.clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}

.clear {
    *zoom: 1;
}


#primary {
  background: #515151;
}

#secondary {
  background: #717171;
}

#tertiary {
  background: #919191;
}

#quaternary {
  background: #a1a1a1;
}

#five {
  background: #c1c1c1;
}

#six {
  background: #e1e1e1;
}